<DOCTYPE! html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="SignUp.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    </head>
 <body>
        <div id="box">
          <div id="box-img">
            <a href="home.html"><img src="Garage.png" alt="icon-parking" class="box-img"></a>
          </div> 
          <div id="box_credentials">
            <h2 class="box-title">NEW DRIVER ? CREATE AN ACCOUNT</h2>
            <span class="name">Name</span> <input type="text" name="name" placeholder="Enter your name" class="box-name">
            <br>
            <span class="surname">Surname</span> <input type="text" name="name" placeholder="Enter your surname " class="box-surname">
            <br>
            <span class="email">Email</span> <input type="text" name="nom" placeholder="  xxxxx@gmail.com" class="box-mail">
            <br>
            <span class="pwd">Password</span> <input type="password" name="pwd" placeholder="  Enter your password" class="box-pwd">
            <br>
            <div class="button">
            <a href="" class="box-button"><button class="btn"><span class="submit">Submit</span></button></a></div>
            <br>
            <div class="box-account">
            <span class="account">Already Sign Up ?</span> <a href="Log_IN.html" class="box-link">Log In</a></div>
            <br>
            <div class="text"><span class="google">Or connect with </span></div>
            <div class="connect">
                <a href=""><img src="google.png" alt="icon-google" class="img-google"></a>
                <a href=""><img src="git.png" alt="icon-git" class="img-git"></a>
                <a href=""><img src="steam.png" alt="icon-steam" class="img-steam"></a>
                
            </div>
          </div> 
        </div>
    </body>
</html>